body {
    font-family: "Roboto", sans-serif;
}

.left-bg-container img {
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

header {
    box-shadow: 0 12px 24px 0 #0000001F;
    min-width: 100%;
    background-color: rgba(255,255,255,0.67);
    padding-bottom: 15px;
    position: relative;
    z-index: 10;
}

.header-container {
    display: flex;
    text-align: center;
}

.header-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 0;
    margin-right: 10px;
}

.header-content {
    margin-left: 80px;
    margin-top: 33px;
}

.header-date {
    border: 1px solid #3d8eda;
    border-radius: 2px;
    color: #3d8eda;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 12px;
}

.target-audience {
    gap: 15px;
    margin: 15px 0;
}

.target-audience .posts, .target-audience .followers, .target-audience .following {
    font-weight: bold;
}

.target-audience span {
    font-weight: normal;
}

.calendars {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.calendars .date {
    color: #636264;
    cursor: pointer;
    height: 28px;
    width: 162px;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0 0 0 2px;
}

.calendar {
    position: relative;
}

.calendar-icon {
    background-color: #dedede;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 1px 3px;
}

.calendars p {
    margin-bottom: 0;
}

.rows-tiles-buttons {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 25px;
}

.rows-section .row-item {
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.item-info-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item-reactions {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.item-date {
    font-weight: bold;
}

.rows-section, .tiles-section {
    margin-top: 25px;
}

.today-info {
    margin-left: 3%;
}

.main-section {
    position: relative;
}

.item-upload {
    margin-right: 8%;
}

.bottom-bg {
    position: absolute;
    bottom: -10%;
    right: 0;
}

.load-more-button-wrapper {
    text-align: center;
}

.load-more-button-wrapper button {
    border: 1px solid #929292;
    border-radius: 14px;
    padding: 3px 15px;
    color: #929292;
    background: #fff;
    margin-bottom: 15px;
}

.tile-item {
    width: 25%;
}

.tile-item .item-photo {
    width: 100%;
}

.tile-item-row-wrapper {
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 10px;
}

.tile-item-upload {
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 20px;
}

.tile-section-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.tiles-section {
    display: none;
}

.active {
    filter: invert(49%) sepia(32%) saturate(2400%) hue-rotate(187deg) brightness(94%) contrast(80%);
}

.rows-icon, .tiles-icon {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .header-container {
        display: block;
    }

    .header-content {
        margin-left: 0;
    }

    .calendars, .item-info-wrapper {
        flex-wrap: wrap;
    }

    .calendar {
        width: 100%;
    }

    .calendars .date {
        width: 100%;
    }

    .rows-section .row-item {
        display: block;
    }

    .tile-section-wrapper {
        display: block;
    }

    .tile-item {
        width: 100%;
        margin-bottom: 15px;
    }

    .left-bg-container img {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .bottom-bg {
        display: none;
    }
}