body {
    font-family: "Roboto", sans-serif;
}

.left-bg-container img {
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

header {
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.67);
    position: relative;
    z-index: 10;
}

.header-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 0;
    margin-right: 10px;
}


.header-content {
    margin-left: 80px;
    margin-top: 33px;
}

.header-date {
    border: 1px solid #3D8EDA;
    border-radius: 2px;
    color: #3D8EDA;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 12px;
}

.target-audience {
    gap: 15px;
    margin: 15px 0;
}

.target-audience .posts,
.target-audience .followers,
.target-audience .following {
    font-weight: bold;
}

.target-audience span {
    font-weight: normal;
}

.calendars {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.calendars .date {
    color: #636264;
    height: 28px;
    width: 162px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 0;
}

.calendar {
    position: relative;
}

.calendar-icon {
    background-color: #DEDEDE;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 1px 3px;
}

.calendars p {
    margin-bottom: 0;
}